mat-form-field{
	width: 100%;
}

.text_title{
	width: 100%;
	height: 100%;
	background: lightgrey;
}

.content{
	position: relative;
	padding-top: 130px;
}

.main_content img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: cover;
	position: absolute;
}

.sign_in{
	text-decoration: none;
	color: black;
	font-weight: 500;
}