<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<mat-card class="mt-5" *ngFor="let post of Posts">
				<h4>Suggested for You</h4>
				<mat-card-content>
					<hr>
					
					<h4 class="m-0">{{post.userId.firstName}}</h4>

					<span class="mt--5">{{post.time}}</span>
					
					<p>{{post.discription}}	</p>
					
					<hr>
					
					<div class="profile_post_img"><img src={{post.image}}></div>
					
					<h4>{{post.description}}</h4>
					
					<hr>
					<div>
						<p class="like_text text-dark pl-3" *ngIf="isLike" (click)="like(post._id, like, index)"><a><i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="m-3">Like</span></a>
							<span>{{post.likes.length}}</span>
						</p>

						<p class="like_text text-dark pl-3" *ngIf="isDislike" (click)="like(post._id, like)"><a ><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span class="m-3">Like</span></a>
							<span>{{post.likes.length}}</span>
						</p>
					</div>
					<hr>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>